@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import '@/assets/style/vars.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  color: rgb(var(--color-fg));
  font-family:
    'Roboto',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}
